@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  font-family: 'Fredoka', serif;
  font-weight: 500;
  font-style: italic;
}

body::-webkit-scrollbar{
  display: none;
}

:root {
  --background-bg-color: #ffffff;
  --text-color: #000000;
  --box-shadow: rgba(0,0,0,0);
}
:root[theme='dark'] {
  --background-bg-color: #000000;
  --text-color: #ffffff;
  --box-shadow: #ffffff;
}

.adaptive-text{
  color: var(--text-color) !important;
}

.adaptive-shadow{
  box-shadow: 0px 0px 10px var(--box-shadow) !important;
}

.circle-underline {
  text-decoration: gray wavy underline;
}

.main {
  max-height: 80dvh;
  height: 80dvh;
  box-shadow: 0px 0px 50px #e106e1;
  background: url('./../src/sakura.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: space-evenly;
}

.blur::-webkit-scrollbar {
  display: none;
}

.blur {
  position: absolute;
  overflow-y: scroll;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  content: '';
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  height: 100%;
  padding-block: 1rem;
  background-attachment: fixed;
  width: 100%;
}

.list {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: fit-content;
  width: fit-content;
  height: 80dvh;
  max-height: 80dvh;
}

.list-container {
  overflow-y: scroll;
  padding: 0.5rem;
}

.list-container::-webkit-scrollbar {
  display: none;
}

.person-card {
  transition: scale, box-shadowing ease-in 0.2s;
}

.person-card:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.416);
  scale: 1.05;
}

.pag_item {
  transition: scale, box-shadowing ease-in 0.2s;
}

.pag_item:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.416);
  scale: 1.05;
}

.group-card {
  transition: scale, box-shadowing ease-in 0.2s;
}

.group-card:hover {
  scale: 1.05;
}

.anim {
  animation: infinite 2s blinking;
}

@keyframes blinking {
  0%,
  100% {
    opacity: 1;
  }
  45%,
  55% {
    opacity: 0;
  }
}

.burger-menu {
  transition: scale, box-shadowing ease-in 0.2s;
}

.burger-menu:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.416);
  scale: 1.05;
}

.burger-item {
  transition: scale, box-shadowing ease-in 1s;
}

.burger-item:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.416);
  scale: 1.05;
}

body {
  transition: background 1s ease-out;
  background: var(--background-bg-color) !important;
}

.boxed-text {
  border: 2px solid currentColor;
  padding: 15px;
  margin-top: 20px;
}
